@media (max-width: 401px) {
    p#text {
        font-family: 'Libre Baskerville', serif;
        font-size: 14px;
        line-height: 1.625rem;
        padding-right: 0%;
    }
    .text2 {
        font-family: 'Libre Baskerville', serif;
        font-size: 14px;
        line-height: 1.625rem; 
        padding-right: 0%;
    }
    #list1 {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 21%; 
        height: 100%;
        position: fixed; 
        overflow: auto;
        background-color: #3b3b3b;
    }
    #list1 li a {
        display: block;
        color: aliceblue;
        text-align: left;
        padding: 14px 16px;
        text-decoration: none;
        font-family: 'Droid Serif', serif; 
        font-size: 55%;
    }
    figure img {
        width: 300px;
        padding-left: 30%;
    }
    figure figcaption {
        text-align: left; 
        height: 42px;
        width: 200px;
        font-size: 10px;
        padding-left: 30%;
    }
}
